<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gushici.mapper.suibi.ReplyMapper">

    <!-- 根据主题id和主题类型查询对应的主评论和用户信息 -->
    <select id="selectReplyAndUser" resultType="com.gushici.bean.user.ReplyAndUser">
        SELECT repUsr.replyId,
        repUsr.content,
        repUsr.fromOpenId,
        repUsr.replyTime,
        repUsr.praiseCount,
        repUsr.toOpenId,
        repUsr.fromUserName,
        repUsr.fromHeadPhoto,
        repUsr.comRepType,
        usr2.name toUserName,
        usr2.head_photo_url toHeadPhoto
        FROM (SELECT rep.reply_id replyId,
        rep.content content,
        rep.from_open_id fromOpenId,
        rep.reply_time replyTime,
        rep.praise_count praiseCount,
        rep.to_open_id toOpenId,
        rep.`com_rep_type` comRepType,
        usr1.name fromUserName,
        usr1.head_photo_url fromHeadPhoto
        FROM tb_reply rep
        LEFT JOIN tb_user usr1 ON rep.from_open_id = usr1.open_id
        WHERE rep.comment_id = #{commentId}
        ORDER BY rep.`reply_time` DESC
        LIMIT #{indexCount},#{countInPage} ) repUsr
        LEFT JOIN tb_user usr2 ON repUsr.toOpenId = usr2.open_id
    </select>
</mapper>