<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gushici.mapper.product.ClassTwoProductMapper">

    <!-- 通过作品id查询对应的二级分类名称 -->
    <select id="selectClassTwoByProductId" resultType="com.gushici.bean.product.ClassTwo">
         SELECT `two`.`catlog_two_id`, `two`.`catlog_two_name`
         FROM tb_class_two `two`
         LEFT JOIN tb_class_two_product `tpro`
         ON `two`.`catlog_two_id` = `tpro`.`catlog_two_id`
         WHERE `tpro`.`product_id` = #{productId}
    </select>
</mapper>